<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationAutomationSuite">
	<listeners>
		<listener class-name="com.nagarro.seleniumAssignment.Utilities.TestListener" />
	</listeners>
	<test thread-count="5" name="AmazonAutomationTest">
		<groups>
			<run>
				<include name="Regression" />
			</run>
		</groups>
		<classes>
			<class
				name="com.nagarro.seleniumAssignment.TestCases.ProductAddToCartTest" />
				<class
				name="com.nagarro.seleniumAssignment.TestCases.YourAccountPageTitleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
